div.main{
	width: 3in;
	height: 5in;
	background-color: white;
	text-align: center;
	border-color: #7D7D7D;
  border-radius: 15px;
  border-style: outset;
}

button.interaction{
	background-color: #499eb3;
	font-size:20px;
	font-family: 'Open Sans';
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border-style: outset;
	border-color: #499eb7;
}
button.home{
	background-color: #499eb3;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border-style: outset;
	border-color: #499eb7;

}
button.ok{
	background-color: #499eb3;
	font-size:20px;
	width: 50px;
	height: 30px;
	border-radius: 10px;
	border-style: outset;
	border-color: #499eb7;
}
table.basic{
	width:100%;
	text-align:center;
	font-size: 20px;
	padding-top: 30px;

}
tr, td{
	padding-top: 10px;
	height: 30px;
}
td.title{
	font-size: 30px;
}

select.medications{
	font-size: 20px;
	width: 200px;
	height: 30px;
}
button.plus{
width: 30px;
height:30px;
background-color: #499eb3;
border-radius: 15px;
border: 1px black;
}
td.list{
	text-align: left;
}
button.mix{
	height: 30px;
	width: 100px;
	border-radius: 10px;
	font-size: 25px;
	background-color: #499eb3;
	border: 1px black;
	border-style: outset;
	border-color: #499eb7;
}

.title{
	font-family: Helvetica;
}
